/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
html{
    scroll-behavior: smooth;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /*deixa o fundo fixo*/
    height: 1080px; /*vh = Viewport Height*/
    margin: auto;
          
}

.geral{
    min-height:100%;
    position:relative;
}


/* ---------->>> CABEÇALHO <<<----------- */

header {
    margin: 0px 0px 0px 0px;
    height: 250px;
    width: 100%;
    opacity: 100%;
    overflow: hidden;
}

.logo{
    height: 380px;
    width: 380px;
    margin: 0px 0px 0px 0px;
    
    
}

h3 {
    position: absolute;
    text-size-adjust: 50px;
    text-align: right;
}


/* ---------->>> MENU <<<----------- */
#menu{
    margin: 150px 0px 150px 0px;
}

#menu ul{
    height: 40px;
    margin: 0px;
    list-style: none; /* tira o ponto dos itens da lista */
    text-align: center;
}

#menu ul li{
    display: inline; /* Deixa os itens da lista na horizontal */
}

#menu ul li a{
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none; /* tira o sublinhado*/
    color: #000000;
    font-style: italic;
    font-size: 20px;
}

#menu ul li a:hover{
    color: #ff0000;
}


/* ---------->>> SECTIONS <<<----------- */

            /* CARTE */
.sect1{
    height: 850px;
    background-color: #000000;
    background: url(img/backgroundcard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
    
  }

  .divsect1{
    margin: auto;
    width: 65%;
    padding-top: 30px;
  }

  .card1{
    margin: 0px 50px 0px 300px;
  }
  .card2{
    margin-left: 0px;
  }
  .card3{
    margin: 0px 50px 0px 300px;
  }
  .card4{
    margin-left: 0px;
  }

            /* HISTORY */
.sect2{

    height: 400px;
    margin-top: 0 auto;
    background-color: #eeff00;
    opacity: 80%;
}
            
.divsect2{
    margin: 0 auto;
    width: 65%;
                
}
            
.fotohist{
    margin: 0 auto;
    margin-top: 20px;
    float: left; /*colocou a foto ao lado do texto*/
    border: #fff;
    border-style: dashed;
    border-radius: 10px;
}
            
.texthistoria{
    padding: 22px;
    margin-left: 400px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;    
}

            /*        */
.sect3{
    height: 400px;
    background-color: green;
    opacity: 50%;
}

.sect4{
    height: 1040px;
    background-color: grey;
    opacity: 50%;
}


/* ---------->>> RODAPÉ <<<----------- */
footer{
    background-color:#565656;
    height: 140px;
    width: 100%;
    bottom: 0;
    color: #fff; /*IMPORTA: não é o jeito certo de mudar a cor da fonte, tem que criar*/    
}

.rdp{
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#btnTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    color:#FF0000;
    background: #333333;
    border: none;
    border-radius: 50vh;
    display: none; /*o botão ficará invisivel*/
}

.setop{
    height: 65%;
    width: 65%;
}